
*{
    margin: 0vh;
}
.header-text{
    background-color:#00a176;
    margin: 0vh;
    color: white;
    text-align: center;
}
body{
    background-color: #020202;
}
.parent-container, .login-container, #searchcon{
    background-color: #020202;
    padding: 5px 120px;
    color: white;
    display: none;
    justify-content: right;
    align-items: center;
    margin-top: 5vh;
}
.login-container{
    display: flex;
}
.input-container, .result-search-container{
    display: none;
    justify-content: right;
    align-items: center;
    display: flex;
    color: #ffffff;
    /* background-color: #1DCD9F; */
    padding: 5px 70px;
    font-size: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: solid #006A71 4px;
    border-bottom: solid #006A71 4px;
    box-shadow: 0px 0px 10px 2px;
    width: 90vh;
    height: 60vh;
    margin-right: 32vh;
}
#login-con {
    display: inline-block;
    align-items: center;
    padding: 1rem 10rem;
}
.input-container label{
    font-weight: bold;
}
.input , .button{
    background-color: black;
    font-size: 15px;
    margin-top: 1vh;
    color: #1DCD9F;
    padding-right: 4vh;
    border-bottom-right-radius: 3vh;
    border-top-left-radius: 3vh;
}
#calculate {
   margin-left: 10vh;
}
.results-container{
    display: flex;
    justify-content: right;
    align-items: center;
    display: flex;
    color: #ffffff;
    background-color: #00a176;
    padding: 5px 50px;
    font-size: 15px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-right: solid #006A71 4px;
    border-bottom: solid #006A71 4px;
    box-shadow: 0px 0px 10px 2px;
    width: 50vh;
    height: 60vh;
    margin-left: 3vh;
}
.charges{
    margin-right: 5vh;
}
.charges h3{
    margin-top: 1vh;
}
.amount {
    font-size: 15px;
}
.amount ul{
    margin-top: 3.2vh;
}
.amount h2{
    margin-top: 1vh;
}
.amount h3 {
    margin-top: 1.2vh;
}
#createcon{
    padding: 0rem 3rem 0rem 0rem;
    color: white;
    justify-content: left;
    margin-left: 15vh;
    
}
#inp{
    padding: 0rem 3rem;
    height: auto;
    width: 18rem;
}
#searchcon {
    display: none;
    width: auto;
    height: auto;
    margin-left: -5vh;
}
